<h1>AA of MN Music Search</h1>

<form action="/search" method="post">
	<fieldset>
		<label for="name">Artist Name</label>
		<input type="text" name="name" id="name">
		<button>Search</button>
	</fieldset>
</form>