<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="designer" content="Von91">
        <meta name="developer" content="Von91">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>AAofMN Search</title>

        <!--[if lt IE 9]>
            <script src="HTML5 SHIM"></script>
        <![endif]-->

        <link rel="shortcut icon" href="">
        <link rel="stylesheet" media="screen, projection" href="/assets/css/application.min.css">
    </head>

    <body>

		<%= yield %>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>
